.container-main-page {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-block: 1.5rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  justify-content: center;
}

.main-page  {
  text-align: center;
  border-radius: 25px;
  background: #fff;
  padding: 2rem;
  margin: auto;
  width: 100%;
}

.game-main {
  width: 15rem;

}

.heading-main {
  color: #000;
}

.price-tag {
  font-size: 45px;
  padding: 10px;
}




.game-main  {
  width: 15rem;
  height: 15rem;
}